apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-green
  labels:
    app: expense-backend
    color: green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: expense-backend
      color: blue
  template:
    metadata:
      labels:
        app: expense-backend
        color: blue
    spec:
      containers:
        - name: expense-backend
          image: expenseregistry123.azurecr.io/expense-backend:v1
          ports:
            - containerPort: 4000
